name: CMake CI/CD Workflow

on:
  push:
    tags:
      - 'v*.*.*'    # на каждый git tag вида v1.0.0
  pull_request:
  push:
    branches:
      - main

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libgtest-dev cmake build-essential fakeroot dpkg-dev rpm ruby ruby-dev
        sudo gem install --no-document fpm

    - name: Build GTest
      run: |
        cd /usr/src/gtest
        sudo cmake CMakeLists.txt
        sudo make
        sudo cp lib/*.a /usr/lib

    - name: Configure CMake
      run: cmake -S . -B build

    - name: Build project
      run: cmake --build build

    - name: Run unit tests
      run: ./build/tests/unit_tests

    - name: Prepare packaging directories
      run: |
        mkdir -p build/deb/usr/local/bin
        mkdir -p build/rpm/usr/local/bin
        cp build/main_exec build/deb/usr/local/bin/visitor_app
        cp build/main_exec build/rpm/usr/local/bin/visitor_app

    - name: Create DEB package
      run: |
        mkdir -p build/deb/DEBIAN
        cat <<EOF > build/deb/DEBIAN/control
Package: visitor-app
Version: 1.0.0
Section: base
Priority: optional
Architecture: amd64
Maintainer: Your Name <you@example.com>
Description: Visitor App
EOF
        dpkg-deb --build build/deb build/visitor_app.deb

    - name: Create RPM package
      run: |
        fpm -s dir -t rpm -n visitor-app -v 1.0.0 --prefix=/ -C build/rpm .

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: visitor_app_packages
        path: |
          build/visitor_app.deb
          build/*.rpm
          build/main_exec

  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs: build_and_test

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        name: visitor_app_packages
        path: ./release_artifacts

    - name: Upload Release Assets
      uses: softprops/action-gh-release@v2
      with:
        files: |
          release_artifacts/*
